<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--单例，一个Bean容器中只存在一份-->
    <bean id="beanScope" class="com.imooc.bean.BeanScope" scope="singleton"></bean>

    <!--每次请求（每次使用），创建新的实例，destroy方式不生效-->
    <!--<bean id="beanScope" class="com.imooc.bean.BeanScope" scope="prototype"></bean>-->

</beans>